/* .nav{
    margin-bottom: 700px;
    width: 100vw;
    
}
.me-auto{
    margin-left: 900px;
    
}
.cards{
    margin-top: 400px;
} */
/* .dd{
    margin-top: 100px;
} */

.bb{
    margin-bottom: 700px;

   
   
}
.aa{
    margin-left: 1480px;
}
.carousel-item active{
    height: 400px;
    width: 380px;
}
.spin{
    text-align: center;
}

/* .card1{
    margin-left: 363px;
    margin-top: -333px;
}
.card2{
    margin-left: 600px;
    margin-top: -295px;
}
.card3{
    margin-left: 980px;
    margin-top: -320px;
}
.carda{
    margin-left: 75px;
    
} */
/* .card1{
    margin-left: 500px;
   

} */

    







